.modo-noche {
  background-color: black;
  color: white;
}

.principal {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lista {
  font-family: Arial, Helvetica, sans-serif;
}